.bash_env
.bash_history
.bash_logout
.cache
.config
.env
.gem
.gnupg
.gvm
.node-gyp
.npm
.nvm
.pyenv
.rvm
.ssh
.vim
.viminfo
.vimshell
.zshr 
.cordova/
.dbshell
.ionic/
.meteor/
.meteorsession
.mongorc.js
.nvm*
.plugman
.python-eggs
.tmux.conf
.v8flags*
tmp/*
dev
lessions
prod
qa
work
mean
